.column-container { width: 600px; height: 500px; background-color: aquamarine; }

.column { display: inline-block; width: 150px; height: 480px; margin: 10px; background-color: antiquewhite; }

.card { width: 120px; background-color: bisque; margin: 10px; }
